body {
    background-color: black;
}

.ad-title {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ad-desc {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.manga-catalog {
    font-family: 'Merriweather', serif;
    font-size: 55px;
    color: white;
    margin-top: 75px;
    margin-bottom: 50px;
}

.row-margin {
    margin-top: 80px;
    margin-bottom: 80px;
}


figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 500px;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(31, 36, 58, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(31, 36, 58, 0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 400px;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 400px;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.see-more {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.btn-primary {
    background-color: #444444 !important;
    border: none !important;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif !important;
}

.btn-primary:hover {
    background-color: #333333 !important;
    border: none !important;
}

